.cont{
    flex: 1;
    display: flex;
    background: #b86920;
    width: 100%;
    height: 100vh;
}

.logos{
    position: absolute;
    top: -3.4rem;
    left: -1.4rem;
    width: 17rem;
    height: 17rem;
}

.siout{
    position: absolute;
    top: -0.2rem;
    left: 0.6rem;
    height: 2rem;
}

.tabsss{
    position: absolute;
    top: 1.5rem;
    left: 15rem;
}

.btnd{
    position: absolute;
    border-radius: 10px;
    border-color: #a9a454;
    top: 47rem;
    left: 2rem;
    width: 11rem;
    height: 2rem;
    color: white;
    font-size:20px;
    background: #a9a454;
}

.btnd:hover{
    box-shadow: 5px 6px black;
    transition: 0.6s;
}

.nodialog{
    position: absolute;
    height: 1.8rem;
    width: 6rem;
    left: 63rem;
    top: 29rem;
    color: white;
    border-radius: 10px;
    border-color: #556b2f;
    background: #556b2f;
    font-size: 18px;
}
.inventorylogbox{
    background: #556b2f;
    position: absolute;
    left: 14rem;
    top: 7.6rem;
    width: 82rem;
    height: 41.8rem;
}

.inventorylogtxt{
    position: absolute;
    font-weight: bold;
    font-size: 42px;
    top: -1rem;
    left: 1rem;
    color: white;
    text-shadow: 0px 6px 10px  black;
}


.ilhead {
    border-collapse: collapse;
    width: 100%;
    margin-top: 6rem;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    
  }
  
  th {
    text-align: left;
    background: white;
    color: black;
  }